@inherits LayoutComponentBase

<PageTitle>BlazorDashboard</PageTitle>

<div class="page">
    <div class="top-navbar">
        <NavMenu />
    </div>
    <div class="mt-2 w-full">
        <div class="flex">
            <div class="sidebar w-1/6 p-2">
                <Sidebar />
            </div>

            <div class="main w-5/6 p-2 container m-auto">
                @Body
            </div>
        </div>
    </div>
</div>
