@inherits LayoutComponentBase

<PageTitle>BlazorDashboard</PageTitle>

<div class="page">
    <div class="top-navbar">
        <NavMenu />
    </div>
    <div class="mt-2 w-full">
        <div class="flex">
            @Body
        </div>
    </div>
</div>
