<div class="flex">
    <nav class="w-full sm:w-20 lg:w-full">
        <ul>
            <li>
                <NavLink href="/admin" Match="NavLinkMatch.All" class="flex items-center p-2 sm:item-center" ActiveClass="sidebar-active rounded-lg">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="lg:mr-3">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3753 2.21913C11.7405 1.92696 12.2595 1.92696 12.6247 2.21913L20.1245 8.21897C20.1245 8.21902 20.1244 8.21891 20.1245 8.21897L22.6247 10.2191C23.0559 10.5641 23.1259 11.1934 22.7808 11.6247C22.4358 12.056 21.8065 12.1259 21.3753 11.7809L20.5 11.0806V21C20.5 21.5523 20.0523 22 19.5 22H4.49998C3.94769 22 3.49998 21.5523 3.49998 21V11.0806L2.62467 11.7809C2.19341 12.1259 1.56412 12.056 1.21911 11.6247C0.874097 11.1934 0.944019 10.5641 1.37528 10.2191L3.87528 8.21913C3.87538 8.21905 3.87518 8.21921 3.87528 8.21913L11.3753 2.21913ZM5.49998 9.48062L12 4.28062L18.5 9.48062V20H15.5V14.5C15.5 13.9477 15.0523 13.5 14.5 13.5H9.49998C8.94769 13.5 8.49998 13.9477 8.49998 14.5V20H5.49998V9.48062ZM10.5 20H13.5V15.5H10.5V20Z" fill="black" fill-opacity="0.85" />
                    </svg>
                    <span class="hidden lg:block">
                        Home
                    </span>
                </NavLink>
            </li>

            <li>
                <NavLink href="/admin/users" Match="NavLinkMatch.All" class="flex items-center p-2 sm:item-center" ActiveClass="sidebar-active rounded-lg">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="lg:mr-3">
                        <path d="M12.8744 13.0016C12.9662 13.0022 13.0549 13.0029 13.1407 13.0039L13.6232 13.0127L14.0457 13.028C14.1116 13.0312 14.1753 13.0347 14.2371 13.0385L14.5855 13.0663C15.1315 13.1204 15.5156 13.2158 15.9134 13.3806C17.1385 13.8881 18.1119 14.8614 18.6193 16.0866L18.6572 16.1804L18.7255 16.3649L18.7841 16.5502L18.8101 16.6449L18.8557 16.8422L18.8935 17.0546C18.8992 17.0916 18.9046 17.1295 18.9097 17.1684L18.9371 17.4146L18.9585 17.6906L18.9746 18.0021L18.9903 18.5488L18.9991 19.4565L19 21C19 21.5523 18.5522 22 18 22H5.99995C5.44757 22 4.99981 21.5521 4.99995 20.9997L5.00038 19.41L5.00388 18.8592L5.01262 18.3768L5.02795 17.9543C5.03113 17.8884 5.03463 17.8247 5.0385 17.7629L5.06621 17.4145C5.12031 16.8685 5.21579 16.4844 5.38057 16.0866C5.88801 14.8614 6.8614 13.8881 8.08651 13.3806C8.48433 13.2158 8.86843 13.1204 9.41441 13.0663L9.76283 13.0385C9.88638 13.0308 10.0178 13.0245 10.1585 13.0194L10.6099 13.0076L11.1255 13.0016H12.8744ZM5.07504 13.982C5.30786 14.4389 5.15579 14.9908 4.73889 15.268L4.63803 15.327C4.07356 15.6146 3.61461 16.0735 3.32698 16.638L3.29592 16.7014L3.23962 16.833L3.1907 16.9753C3.17557 17.0251 3.16158 17.0776 3.14867 17.1336L3.11304 17.3132C3.10761 17.3452 3.10242 17.3783 3.09747 17.4126L3.07054 17.6341L3.04879 17.8901L3.03174 18.1859L3.01891 18.5267L3.00394 19.3648L3.00084 19.8726L3 21C3 21.5523 2.55228 22 2 22C1.48716 22 1.06449 21.614 1.00673 21.1166L1 21L1.00095 19.8109L1.00789 18.9823L1.01754 18.5073L1.03226 18.0871C1.03519 18.0212 1.03837 17.9574 1.04182 17.8955L1.06589 17.5455C1.12111 16.8865 1.22059 16.4615 1.39737 16.0447L1.49236 15.8359C1.50931 15.8009 1.52684 15.7656 1.54497 15.7301C2.02433 14.7892 2.78924 14.0243 3.73004 13.5449C4.22212 13.2942 4.8243 13.4899 5.07504 13.982ZM20.2698 13.5449C21.2107 14.0243 21.9756 14.7892 22.455 15.7301L22.5497 15.9251C22.5645 15.9573 22.5788 15.9894 22.5927 16.0215L22.6704 16.2155C22.6824 16.2482 22.6941 16.2811 22.7053 16.3143L22.7677 16.5185C22.7773 16.5535 22.7865 16.589 22.7953 16.6251L22.844 16.8507C22.8589 16.929 22.8723 17.0108 22.8845 17.0968L22.9175 17.3683L22.9437 17.6702L22.972 18.1911L22.9891 18.8085L22.9976 19.5392L22.9999 21C22.9999 21.5523 22.5522 22 21.9999 22C21.4871 22 21.0644 21.614 21.0066 21.1166L20.9999 21L20.9991 19.8726L20.9901 18.918L20.9751 18.3503L20.9602 18.0327L20.9409 17.7575L20.9166 17.5194C20.9121 17.4825 20.9074 17.447 20.9024 17.4126L20.8698 17.2204C20.852 17.1307 20.8319 17.05 20.8092 16.9753L20.7603 16.833L20.704 16.7014C20.694 16.6801 20.6836 16.659 20.673 16.638C20.4173 16.1363 20.0262 15.7179 19.546 15.4291L19.3619 15.327C18.8698 15.0762 18.6741 14.474 18.9249 13.982C19.1756 13.4899 19.7778 13.2942 20.2698 13.5449ZM12.8419 15.0015H11.1599L10.501 15.0105L10.1401 15.0223L9.83308 15.0394L9.5728 15.0626C9.49301 15.0714 9.41977 15.0813 9.35188 15.0924L9.16297 15.1295L8.99875 15.1747C8.94731 15.1911 8.89875 15.209 8.85187 15.2284C8.11681 15.5328 7.5328 16.1169 7.22833 16.8519C7.20891 16.8988 7.19104 16.9474 7.1746 16.9988L7.12949 17.163L7.09235 17.3519C7.08122 17.4197 7.07132 17.4929 7.06252 17.5727L7.03937 17.8328C7.03603 17.8798 7.03294 17.9288 7.03008 17.9799L7.0157 18.3126L7.00338 18.9221L6.99996 20H17L16.9991 19.4928L16.9914 18.6615L16.9726 18.0377L16.9493 17.6795L16.9286 17.4825L16.9032 17.3127C16.8986 17.2863 16.8937 17.2609 16.8886 17.2362L16.8555 17.0966L16.8166 16.9704L16.7716 16.8519C16.4671 16.1169 15.8831 15.5328 15.148 15.2284C15.1011 15.209 15.0526 15.1911 15.0011 15.1746L14.837 15.1295L14.6481 15.0924C14.5802 15.0813 14.507 15.0714 14.4273 15.0626L14.1672 15.0394L13.8605 15.0223L13.4999 15.0105L12.8419 15.0015ZM12 2C14.4852 2 16.5 4.01472 16.5 6.5C16.5 8.98528 14.4852 11 12 11C9.51467 11 7.49996 8.98528 7.49996 6.5C7.49996 4.01472 9.51467 2 12 2ZM6.82014 3.05524C7.1361 3.50822 7.02503 4.13157 6.57205 4.44753C5.90466 4.91305 5.49996 5.67159 5.49996 6.5C5.49996 7.38752 5.96534 8.1934 6.71227 8.64348C7.18531 8.92852 7.33772 9.54307 7.05268 10.0161C6.76764 10.4892 6.15309 10.6416 5.68004 10.3565C4.33857 9.54819 3.49996 8.096 3.49996 6.5C3.49996 5.01077 4.22978 3.64284 5.42786 2.80715C5.88084 2.49119 6.50418 2.60227 6.82014 3.05524ZM18.5721 2.80715C19.7701 3.64284 20.5 5.01077 20.5 6.5C20.5 7.98921 19.7701 9.3572 18.572 10.1928C18.1191 10.5088 17.4957 10.3977 17.1798 9.94473C16.8638 9.49175 16.9749 8.8684 17.4279 8.55245C18.0952 8.08698 18.5 7.32838 18.5 6.5C18.5 5.67159 18.0953 4.91305 17.4279 4.44753C16.9749 4.13157 16.8638 3.50822 17.1798 3.05524C17.4957 2.60227 18.1191 2.49119 18.5721 2.80715ZM12 4C10.6192 4 9.49996 5.11929 9.49996 6.5C9.49996 7.88072 10.6192 9 12 9C13.3807 9 14.5 7.88072 14.5 6.5C14.5 5.11929 13.3807 4 12 4Z" fill="black" fill-opacity="0.85" />
                    </svg>
                    <span class="hidden lg:block">
                        User
                    </span>
                </NavLink>
            </li>

            <li>
                <NavLink href="/login" Match="NavLinkMatch.All" class="flex items-center p-2 sm:item-center">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="lg:mr-3">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7242 0.540045C11.9072 0.486627 12.1017 0.486652 12.2847 0.540117L21.2804 3.16794C21.7069 3.29252 22 3.68353 22 4.12782V9.51684C22 15.6116 18.0996 21.0224 12.3174 22.949C12.1123 23.0173 11.8905 23.0173 11.6853 22.949C5.90157 21.0224 2 15.6105 2 9.51435V4.12782C2 3.68344 2.29326 3.29236 2.71985 3.16787L11.7242 0.540045ZM4 4.8777V9.51435C4 14.6376 7.20889 19.1982 12.0013 20.9414C16.7922 19.1982 20 14.6388 20 9.51684V4.8775L12.0042 2.54175L4 4.8777Z" fill="black" fill-opacity="0.85" />
                    </svg>
                    <span class="hidden lg:block">
                        Login
                    </span>
                </NavLink>
            </li>

            <li>
                <NavLink href="/register" Match="NavLinkMatch.All" class="flex items-center p-2 sm:item-center">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="lg:mr-3">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 2C1 1.44772 1.44772 1 2 1H6C6.55228 1 7 1.44772 7 2C7 2.55228 6.55228 3 6 3H3V6C3 6.55228 2.55228 7 2 7C1.44772 7 1 6.55228 1 6V2ZM17 2C17 1.44772 17.4477 1 18 1H22C22.5523 1 23 1.44772 23 2V6C23 6.55228 22.5523 7 22 7C21.4477 7 21 6.55228 21 6V3H18C17.4477 3 17 2.55228 17 2ZM12 6C10.8954 6 10 6.89543 10 8C10 9.10457 10.8954 10 12 10C13.1046 10 14 9.10457 14 8C14 6.89543 13.1046 6 12 6ZM8 8C8 5.79086 9.79086 4 12 4C14.2091 4 16 5.79086 16 8C16 9.40141 15.2793 10.6345 14.1883 11.3489C16.9826 12.2677 19 14.8982 19 18C19 18.5523 18.5523 19 18 19C17.4477 19 17 18.5523 17 18C17 15.2386 14.7614 13 12 13C9.23858 13 7 15.2386 7 18C7 18.5523 6.55228 19 6 19C5.44772 19 5 18.5523 5 18C5 14.8982 7.01741 12.2677 9.81167 11.3489C8.72069 10.6345 8 9.40141 8 8ZM2 17C2.55228 17 3 17.4477 3 18V21H6C6.55228 21 7 21.4477 7 22C7 22.5523 6.55228 23 6 23H2C1.44772 23 1 22.5523 1 22V18C1 17.4477 1.44772 17 2 17ZM22 17C22.5523 17 23 17.4477 23 18V22C23 22.5523 22.5523 23 22 23H18C17.4477 23 17 22.5523 17 22C17 21.4477 17.4477 21 18 21H21V18C21 17.4477 21.4477 17 22 17Z" fill="black" fill-opacity="0.85" />
                    </svg>
                    <span class="hidden lg:block">
                        Register
                    </span>
                </NavLink>
            </li>
        </ul>
    </nav>
</div>

@code {

}
