@layout MainLayoutSidebar
@page "/admin/create-user"
@inject NavigationManager NavigationManager

<PageTitle>Create User</PageTitle>

<div class="sm:h-screen md:h-screen lg:h-screen xl:h-screen h-screen">
    <div class="flex">
        <div class="sm:w-full md:w-3/5 lg:w-2/5 xl:w-2/5 m-auto">
            <div class="h-auto bg-white rounded-lg shadow-md flex">
                <EditForm OnValidSubmit="@onSaveClick" Model="User" class="p-4 w-full">
                    <DataAnnotationsValidator />
                    <div class="form-title font-bold text-lg">
                        Create new user
                    </div>
                    <div class="mb-2">
                        <label for="username" class="block mb-2 text-sm font-semibold text-gray-900">
                            Username
                            <span class="text-red-500">*</span>
                        </label>
                        <InputText type="text" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                               focus:border-blue-500 block w-full p-2.5 outline-none" @bind-Value="User.UserName" />

                        <ValidationMessage For="() => User.UserName"></ValidationMessage>
                    </div>
                    <div class="mb-2 grid gap-6 lg:grid-cols-2">
                        <div>
                            <label for="firstname" class="block mb-2 text-sm font-semibold text-gray-900">
                                First Name
                                <span class="text-red-500">*</span>
                            </label>
                            <InputText type="text" id="firstname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 outline-none" @bind-Value="User.FirstName" />
                            <ValidationMessage For="() => User.FirstName"></ValidationMessage>
                        </div>
                        <div>
                            <label for="lastname" class="block mb-2 text-sm font-semibold text-gray-900">
                                Last Name
                                <span class="text-red-500">*</span>
                            </label>
                            <InputText type="text" id="lastname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 outline-none" @bind-Value="User.LastName" />
                            <ValidationMessage For="() => User.LastName"></ValidationMessage>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="email" class="block mb-2 text-sm font-semibold text-gray-900">
                            Email
                            <span class="text-red-500">*</span>
                        </label>
                        <InputText type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                               focus:border-blue-500 block w-full p-2.5 outline-none" @bind-Value="User.Email" />
                        <ValidationMessage For="() => User.Email"></ValidationMessage>
                    </div>
                    <div class="mb-2">
                        <label for="email" class="block mb-2 text-sm font-semibold text-gray-900">Language</label>
                        <InputSelect name="language" id="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                               focus:border-blue-500 block w-full p-2.5 outline-none" @bind-Value="User.Language">
                            <option value="">
                                Please select
                            </option>
                            <option value="EN">
                                English
                            </option>
                        </InputSelect>
                    </div>
                    <div class="mb-2">
                        <label for="email" class="block mb-2 text-sm font-semibold text-gray-900">
                            Authorities
                            <span class="text-red-500">*</span>
                        </label>
                        <div class="flex">
                            @foreach (var role in User.Roles)
                            {
                                <div class="flex items-center mr-4">
                                    <InputCheckbox  @bind-Value="role.IsChecked" id="@role.RoleId" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 focus:ring-2"/>
                                    <label for="inline-2-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">@role.RoleName</label>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="grid gap-6 lg:grid-cols-2">
                            <div class="content-start">
                                <button class="bg-gray-200 hover:bg-gray-200 focus:ring-4 focus:outline-none 
                                    focus:ring-blue-300 rounded-lg text-sm w-full sm:w-auto p-2 text-center flex items-center" 
                                type="button" @onclick="onCanelClick">
                                    Cancel
                                </button>
                            </div>
                            <div class="content-end">
                                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none 
                                    focus:ring-blue-300 rounded-lg text-sm w-full float-right sm:w-auto p-2 text-center font-thin flex items-center" type="submit">
                                    Create User
                                </button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {


    private UserViewModel User { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        User = new UserViewModel()
            {
                Roles = new List<UserRole>()
                {
                    new()
                    {
                        RoleId = RoleEnum.ROLE_ADMIN.ToString(),
                        RoleName = RoleEnum.ROLE_ADMIN.ToString()
                    },
                    new()
                    {
                        RoleId = RoleEnum.ROLE_MANAGER.ToString(),
                        RoleName = RoleEnum.ROLE_MANAGER.ToString()
                    },
                    new()
                    {
                        RoleId = RoleEnum.ROLE_USER.ToString(),
                        RoleName = RoleEnum.ROLE_USER.ToString()
                    }
                }
            };
    }

    public void onSaveClick()
    {
    }

    public void onCanelClick()
    {
        NavigationManager.NavigateTo("/admin/users");
    }
}
